<!DOCTYPE html>
<html>
  <head>
    <title>FFLegacy</title>
  </head>
  <body>
    <h1>FFLegacy</h1>

    <nav>
    <% if (authenticated) { %>
      <a href="/logout">Logout</a>
    <% } else { %>
      <a href="/auth/yahoo">Authenticate</a>
    <% } %>
    </nav>

    <%- body %>
  </body>
</html>
